<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">

  <delete id="blackListDelete">
  	delete from black where blackpunish <![CDATA[<=]]> sysdate
  </delete>

  <select id="allBlackCount" resultType="int">
  	select count(*) from black
  </select>

  <select id="allNotifyCount" resultType="int">
  	select count(*) from notify
  </select>

  <select id="blackList" resultType="map">
  	select blackcontent,blackpunish+9/24 as blackpunish,blackid,report from black order by blackpunish
  </select>

  <select id="checkBlackList" parameterType="string" resultType="int">
  	select count(*) from black where blackid=#{checkId}
  </select>

  <insert id="insertBlack" parameterType="map">
  	insert into black values(#{nContent},sysdate+#{blackCount},#{nonNotifyId},#{notifyId})
  </insert>

  <delete id="deleteNotify" parameterType="map" >
  	delete from notify where notifyid=#{notifyId} and nonnotifyid=#{nonNotifyId} and ncontent=#{nContent}
  </delete>
  
  <select id="notifyList" resultType="map">
  	select  ncontent,ndate+9/24 as ndate,notifyid,nonnotifyid from notify order by ndate desc
  </select>
 
  <select id="searchListAll" parameterType="map" resultType="int">
  	select count(*) from member where ${searchType} like '%' || #{keyword} || '%'
  </select>

  <select id="searchList" parameterType="map" resultType="map">
  	select * from member where ${searchType} like '%' || #{keyword} || '%'
  </select>

  <select id="selectAllMemberCount" resultType="int">
  	select count(*) from member
  </select>

  <select id="memberList" resultType="map">
  	select * from member order by enrolldate
  </select>

  <select id="selectBoardCount" resultType="_int">
  	select count(*) from board
  </select>
  <select id="selectBoardList" resultType="map">
  	select * from board
  </select>
  <select id="selectBoard" resultType="map" parameterType="_int">
  	SELECT * FROM BOARD WHERE BOARDNO=#{boardNo}
  </select>
  <update id="updateBoardCount" parameterType="_int">
  	UPDATE BOARD SET BCOUNT = (BCOUNT+1) WHERE BOARDNO = #{boardNo}
  </update>
  <insert id="insertBoard" parameterType="map">
  	INSERT INTO BOARD VALUES(SEQ_BOARDNO.NEXTVAL,#{title},#{content},default,#{oriFileName},#{reFileName},default)
  </insert>
  <update id="updateBoard" parameterType="map">
  	UPDATE BOARD SET BTITLE=#{title},BCONTENT=#{content},BDATE=default,BORIFILENAME=#{oriFileName},BREFILENAME=#{reFileName} WHERE BOARDNO=#{boardNo}
  </update>
  <delete id="deleteBoard">
  	DELETE FROM BOARD WHERE BOARDNO=#{boardNo}
  </delete>
  
  
  <select id="selectQnaCount" resultType="_int">
  	SELECT COUNT(*) FROM QNA
  </select>
  <select id="selectQnaComCount" resultType="_int">
  	SELECT COUNT(*) FROM QNACOMMENT
  </select>
  <insert id="insertQna" parameterType="map">
  	INSERT INTO QNA VALUES(SEQ_QNANUM.NEXTVAL,#{title},#{content},#{memberNum},default)
  </insert>
  
  <select id="selectQnaList" resultType="map">
  	SELECT Q.*,(SELECT COUNT(*) FROM QNACOMMENT WHERE QNANUM=Q.QNANUM) AS COMCNT,
  	(SELECT MEMBERNAME FROM MEMBER WHERE MEMBERNUM=Q.MEMBERNUM) AS QWRITER FROM QNA Q 
  </select>
  <select id="selectQnaOne" resultType="map" parameterType="_int">
  	SELECT Q.*,(SELECT MEMBERNAME FROM MEMBER WHERE MEMBERNUM=Q.MEMBERNUM) AS QWRITER
  	FROM QNA Q WHERE QNANUM=#{qnaNum}
  </select>
  <select id="selectQnaComList" resultType="map" parameterType="_int">
  	SELECT * FROM QNACOMMENT WHERE QNANUM=#{qnaNum}
  </select>
  <update id="updateQna" parameterType="map">
  	UPDATE QNA SET QTITLE=#{title},QCONTENT=#{content},MEMBERNUM=#{memberNum},QDATE=default WHERE QNANUM=#{qnaNum}
  </update>
   <delete id="deleteQna">
  	DELETE FROM QNA WHERE QNANUM=#{qnaNum}
  </delete>
  <insert id="insertQnaCom" parameterType="map">
  	INSERT INTO QNACOMMENT VALUES(SEQ_COMMENTNUM.NEXTVAL,#{qnaNum},#{content},default)
  </insert>
  <select id="selectQnaComOne" resultType="map" parameterType="_int">
  	SELECT * FROM QNACOMMENT WHERE COMMENTNUM=#{commentNum}
  </select>
  <update id="updateComment" parameterType="map">
  	  UPDATE QNACOMMENT SET COMCONTENT=#{comContent} WHERE COMMENTNUM=#{comNum}
  </update>
  <delete id="deleteQnaCom">
  	DELETE FROM QNACOMMENT WHERE COMMENTNUM=#{commentNum}
  </delete>
  
  <select id="selectFaqList" resultType="map">
  	SELECT * FROM FAQ ORDER BY FAQNO DESC
  </select>
  <insert id="insertFaq" parameterType="map">
  	INSERT INTO FAQ VALUES(SEQ_FAQ.NEXTVAL,#{fTitle},#{fContent})
  </insert>
  <select id="selectFaqOne" resultType="map">
  	SELECT * FROM FAQ WHERE FAQNO=#{faqNo}
  </select>
  <update id="updateFaq" parameterType="map">
  	UPDATE FAQ SET FTITLE=#{fTitle}, FCONTENT=#{fContent} WHERE FAQNO=#{faqNo}
  </update>
  <delete id="deleteFaq">
  	DELETE FROM FAQ WHERE FAQNO=#{faqNo}
  </delete>
  
  
  
</mapper>
