<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="community">
  <insert id="saveMessage" parameterType="msgVo">
  		insert into chattingview values(#{receiver},#{sender},sysdate,#{cContent},#{roomId})
  </insert>
  
  <select id="bringMsg" parameterType="string" resultType="map">
  	select * from chattingView join member on (receiver=memberid) where roomId=#{roomId} order by cDate
  </select>
  
</mapper>
