<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="driver">
	<select id="selectDriver" parameterType="_int" resultType="driver"> 
		SELECT * FROM DRIVER WHERE MEMBERNUM = #{memberNum}
	</select>
	<resultMap type="map" id="driver"></resultMap>
	<insert id="enrollDriver" parameterType="map">
		insert into driver values(#{memberNum},#{licenseNum},#{carModel},#{carNum},default,#{driver_info},default,default)
	</insert>
	<insert id="insertCarImage" parameterType="com.spring.odagada.driver.model.vo.carImage">
		INSERT INTO CARIMAGE VALUES(#{carImageOri},#{carImageRe},#{carNum},#{imageOrder})
	</insert>
	<select id="selectJoinCount" resultType="_int">
		SELECT count(*) FROM DRIVER
	</select>
	<select id="selectDriverList" resultType="map">
		SELECT D.MEMBERNUM, M.MEMBERID, M.MEMBERNAME, D.ENROLLDATE, D.DRIVERSTATUS FROM MEMBER M, DRIVER D WHERE M.MEMBERNUM = D.MEMBERNUM
	</select>

</mapper>
